SERVER_URL=https://evolution.187-127-45-197.nip.io
AUTHENTICATION_API_KEY=CHANGE_API_KEY
TELEMETRY_ENABLED=false
DATABASE_PROVIDER=postgresql
POSTGRES_PASSWORD=CHANGE_DB_PASSWORD
DATABASE_CONNECTION_URI=postgresql://evolution:CHANGE_DB_PASSWORD@evolution-postgres:5432/evolution?schema=evolution_api
DATABASE_CONNECTION_CLIENT_NAME=scan_newshop
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=false
DATABASE_SAVE_MESSAGE_UPDATE=false
DATABASE_SAVE_DATA_CONTACTS=false
DATABASE_SAVE_DATA_CHATS=false
DATABASE_SAVE_DATA_LABELS=false
DATABASE_SAVE_DATA_HISTORIC=false
DATABASE_SAVE_IS_ON_WHATSAPP=true
DATABASE_SAVE_IS_ON_WHATSAPP_DAYS=7
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://evolution-redis:6379/6
CACHE_REDIS_PREFIX_KEY=scan_newshop
CACHE_REDIS_SAVE_INSTANCES=true
CONFIG_SESSION_PHONE_CLIENT=SCAN NEWSHOP
CONFIG_SESSION_PHONE_NAME=Chrome
QRCODE_LIMIT=30
LANGUAGE=pt-BR
LOG_LEVEL=ERROR,WARN
DEL_INSTANCE=false
