VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-aqui
CLICKUP_TOKEN=
CLICKUP_TOKEN_SF=
CLICKUP_LIST_ID_COMPRAS=
CLICKUP_LIST_ID_COMPRAS_NEWSHOP=
CLICKUP_LIST_ID_COMPRAS_SOYE=
CLICKUP_LIST_ID_COMPRAS_FACIL=
